# Maven (arquivos gerados na compilação)
target/

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# Arquivos compilados
*.class

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
